---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import GridList from '../../components/GridList.astro';
import EssayCard from '../../components/cards/EssayCard.astro';
import NoteCard from '../../components/cards/NoteCard.astro';

export async function getStaticPaths() {
    const essays = await getCollection("essaysCollection");
    const notes = await getCollection("notesCollection");
    const allPosts = [...essays, ...notes];

    const uniqueTopics = [...new Set(allPosts.map((post: any) => post.data.topics).flat())];

    return uniqueTopics.map((topic) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.topics.includes(topic));
    return {
        params: { topic },
        props: { posts: filteredPosts },
    };
    });
}

const { topic } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={topic}>
  <p>Posts tagged with {topic}</p>
  <GridList>
    {
      posts.map((post: any) => (
        (post.data.type === "essay") &&
        <EssayCard 
        url={`/essays/${post.id}/`} 
        title={post.data.title} 
        description={post.data.description} 
        startDate={post.data.startDate} 
        topics={post.data.topics} />
    ))
    }
  </GridList>
</BaseLayout>