---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NoteCard from "../../components/NoteCard.astro";
import { getCollection } from "astro:content";
const pageTitle = "Notes"

const notes = (await getCollection("notesCollection")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Notes</h1>
    <p>Messy exploratory writing where I try to figure things out</p>
    <div class="notes-list">
        {
            notes.map((note: any) => (
                <NoteCard url={`/notes/${note.id}/`} title={note.data.title} description={note.data.description} startDate={note.data.startDate} topics={note.data.topics} />
            ))
        }
    </div>
</BaseLayout>