---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GridList from '../../../components/GridList.astro';
import MovieCard from '../../../components/cards/MovieCard.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Movies";

const movies = (await getCollection("moviesCollection")).sort(
  (a, b) => b.data.finished.valueOf() - a.data.finished.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Movies</h1>
  <p>Collection of thoughts and reviews from various media</p>
  <GridList>
      {
          movies.map((movie: any) => (
              <MovieCard 
              url={`/library/movies/${movie.id}/`} 
              title={movie.data.title} 
              finished={movie.data.finished}
              cover={movie.data.cover} />
          ))
      }
  </GridList>
</BaseLayout>