---
import { Image } from "astro:assets"

const { title, url, description, cover, startDate, topics } = Astro.props
---
<div class="card" data-topics={topics?.join(",")} id="card">
    <a class="card-link" href={url}>
            <Image
                src={cover}
                alt=`${title} flag`
                height={300} 
            />
            <div class="metadata">
                <h3 class="title">{title}</h3>
                <p class="description">{description}</p>
                <div class="date">
                    <span>Published:</span>
                    <time>{startDate.toLocaleDateString("pl-PL")}</time>
                </div>
            </div>
    </a>
</div>

<style>
    .card {
        border-radius: var(--border-radius-base);
        transition: all 0.3s;
        border: 0.3rem double var(--color-primary);
    }

    .card:hover {
        background-color: var(--color-primary-light);
    }

    .card:hover h3 {
        color: var(--color-text);
    }

    .card a {
        color: var(--color-text);
    }


    .date {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-base);
        font-family: var(--font-sans);
    }
    
    .date span {
        color: var(--color-accent);
        font-weight: bold;
    }

    .card.hidden {
        display: none;
    }
</style>