---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro"
import GridList from "../components/GridList.astro";
import EssayCard from "../components/cards/EssayCard.astro";
import NoteCard from "../components/cards/NoteCard.astro";
import SectionSeparator from "../components/SectionSeparator.astro";
const pageTitle = "FlauFly";

// Loading writing categories
const essays = (await getCollection("essaysCollection")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
const notes = (await getCollection("notesCollection")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Garden</h1>
	
	<!-- List of posts -->
  <SectionSeparator section="Essays"/>
  <GridList>
	{
		essays.map((essay: any) => (
			<EssayCard 
			url={`/essays/${essay.id}/`} 
			title={essay.data.title} 
			description={essay.data.description} 
			startDate={essay.data.startDate} 
			topics={essay.data.topics} />
	))
	}
  </GridList>
  <SectionSeparator section="Notes" />
  <GridList>
	{
		notes.map((note: any) => (
			<NoteCard 
			url={`/notes/${note.id}/`} 
			title={note.data.title} 
			description={note.data.description} 
			startDate={note.data.startDate} 
			topics={note.data.topics} />
	))
	}
  </GridList>
	
</BaseLayout>

<style>
	.my-name {
		color: var(--color-primary);
	}

	.dividor {
		background-color: var(--color-primary);
	}
</style>
