---
import BaseLayout from '../../layouts/BaseLayout.astro';
import EssayCard from '../../components/cards/EssayCard.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Essays";

const essays = (await getCollection("essaysCollection")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Essays</h1>
  <p>Long-form opinionated writing</p>
  <div class="cards-container">
      {
          essays.map((essay: any) => (
              <EssayCard 
                url={`/essays/${essay.id}/`} 
                title={essay.data.title}
                description={essay.data.description}
                cover={essay.data.cover}
                startDate={essay.data.startDate}
                updated={essay.data.updated} 
                topics={essay.data.topics} />
          ))
      }
  </div>
</BaseLayout>

<style>
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-top: var(--space-xs);
  }
</style>