---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GridList from '../../../components/GridList.astro';
import GameCard from '../../../components/cards/GameCard.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Games";

const games = (await getCollection("gamesCollection")).sort(
  (a, b) => b.data.finished.valueOf() - a.data.finished.valueOf() // sorting by reverse chronological order
);
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Games</h1>
  <p>Collection of thoughts and reviews from various media</p>
  <GridList>
      {
          games.map((game: any) => (
              <GameCard 
              url={`/library/games/${game.id}/`} 
              title={game.data.title} 
              finished={game.data.finished}
              cover={game.data.cover} />
          ))
      }
  </GridList>
</BaseLayout>