---
import EssayCard from "./EssayCard.astro"
const { posts } = Astro.props
---
<div class="essays-list">
{
    posts.map((post: any) => (
    <EssayCard url={`/essays/${post.id}/`} title={post.data.title} description={post.data.description} startDate={post.data.startDate} topics={post.data.topics} />
    ))
}
</div>

<style>
    .essays-list {
        border-radius: var(--border-radius-base);
        display: grid;

        @media screen and (width >= 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (width >= 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (width >= 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

</style>