---
import TravelCard from "./TravelCard.astro"
const { posts } = Astro.props
---
<div class="travels-list">
{
    posts.map((post: any) => (
    <TravelCard url={`/travels/${post.id}/`} title={post.data.title} startDate={post.data.startDate} endDate={post.data.endDate} cover={post.data.cover} />
    ))
}
</div>

<style>
    .travels-list {
        border-radius: var(--border-radius-base);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

</style>