---
import BaseLayout from './BaseLayout.astro';
import ProgressBar from '../components/ProgressBar.astro';
import ProseWrapper from '../components/ProseWrapper.astro';
import TableOfContents from '../components/TableOfContents.astro';
const { frontmatter, headings } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <ProgressBar />
    <!-- Title and description at the top -->
    <div class="header">
      <h1>{frontmatter.title}</h1>
      <p class="description">{frontmatter.description}</p>
    </div>
    <!-- Metadata about article -->
    <div class="metadata">
      <div class="metadata-left">
        <div class="date">
          <span>Started:</span>
          <time>{frontmatter.startDate.toLocaleDateString("pl-PL")}</time>
        </div>
        <div class="date">
          <span>Updated:</span>
          <time>{frontmatter.updated.toLocaleDateString("pl-PL")}</time>
        </div>
        <div class="writing-stage">
          <span>Writing stage:</span>
          <span>{frontmatter.writingStage}</span>
        </div>
      </div>
      <div class="metadata-right">
        <ul class="styled-links">
          {frontmatter.topics.map((topic: string) => (
              <li class="styled-link">
                <a href={`/topics/${topic}`}>{topic}</a>
              </li>
          ))}
        </ul>
      </div>
    </div>

  {(frontmatter.toc) &&
    <TableOfContents headings={headings} />
  }

  <ProseWrapper>
    <slot />
  </ProseWrapper>
</BaseLayout>

<style>
  .header {
    padding-bottom: var(--space-l);
    margin-bottom: var(--space-xs);
    border-bottom: 1px dashed var(--color-primary) ;
  }

  h1 {
    text-align: center;
  }

  .description {
    text-align: center;
    opacity: 0.75;
  }

  .metadata {
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-m);
    display: flex;
    justify-content: space-between;
  }

  .date {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      font-family: var(--font-sans);
  }
  
  .date span {
      color: var(--color-accent);
      font-weight: bold;
  }

  .writing-stage {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      font-family: var(--font-sans);
  }

  .writing-stage span:first-child {
    color: var(--color-accent);
    font-weight: bold;
  }

  .styled-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .styled-link {
    margin-right: var(--space-xs);
    margin-bottom: var(--space-3xs);
  }
</style>