---
import BaseLayout from './BaseLayout.astro';
import ProseWrapper from '../components/ProseWrapper.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="my-4 py-2 sm:m-6 sm:p-4 lg:m-8 lg:p-6">
    <!-- Title and description at the top -->
    <div class="pb-8">
      <div class="text-center text-4xl sm:text-5xl lg:text-6xl font-bold">{frontmatter.title}</div>
      <div class="text-center opacity-50 text-base sm:text-lg lg:text-xl">{frontmatter.description}</div>
    </div>
    <!-- Metadata about article -->
    <div class="flex justify-between border-t border-primary border-dotted pt-4">
      <div>
        <div class="flex gap-2">
          <div class="text-accent">Started:</div>
          <div>{frontmatter.startDate.toLocaleDateString()}</div>
        </div>
        <div class="flex gap-2">
          <div class="text-accent">Updated:</div>
          <div>{frontmatter.updated.toLocaleDateString()}</div>
        </div>
        <div class="flex gap-2">
          <div class="text-accent">Writing stage:</div>
          <div>{frontmatter.writingStage}</div>
        </div>
      </div>
      
      <div class="flex gap-4">
        {frontmatter.topics.map((topic: string) => (
          <p><a class="font-bold transition text-accent hover:opacity-50" href={`/topics/${topic}`}>{topic}</a></p>
        ))}
      </div>
    </div>
  </div>

  <ProseWrapper>
    <slot />
  </ProseWrapper>
</BaseLayout>